*,
*::before
*::after {
    box-sizing: border-box;
}

:root {
    --Electric-Blue: #00FCED;
    --Dark-Gray: #353535;
    --Amethyst: #8E05FF;
    --Electric-Green: #77FF6C;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Dark-Gray);
}

.wrapper {
    padding: 30px 20px;
    padding-bottom: 0px;
}

header {
    font-family:fantasy;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    color: var(--Electric-Blue);
}

.current-hs {
    display: inline-block;
    float: left;
}

.quiz-title {
    display: inline-block;
    float: center;
}

.time-left {
    display: inline-block;
    float: right;
}

.green {
    color: var(--Electric-Green);
}