* {
box-sizing: border-box;
}

/* Css variables */
:root {
    --primary: #07f4fcc5;
    --secondary: #5dfa6a;
    --tertiary: rgb(0, 138, 34);
    --quartary: #ff5e00; 
    --quintary: #fc07e8c5;
    --black: rgb(0, 0, 0);
}

body {
    background: #424242;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

/* Styling for Header */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

#current-high-scores:hover {
    color: var(--quintary);
    cursor: pointer;
}

header h4 {
    padding-left: 20px;
    display: inline;
    font-size: 20px;
}

.timer {
    font-size: 20px;
    color: var(--quartary);
    display: inline;
    text-align: right;
    padding-right: 20px;
}

/*Main content */
.container {
    padding: 20px;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

/* Coding Quiz Styling */
h1 {
    color: var(--primary);
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

/* Description Styling */
p {
    color: var(--primary);
    font-size: 20px;
}

.warning {
    color: var(--quartary);
}

.start {
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

.end h1, .end p {
    text-align: left
}

.end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 22px;
    border-radius: 5px;
}

.end input:focus {
    border: 2px solid var(--secondary);
}

.show {
    display: flex;
    height: 600px;
}

.hide {
    display: none;
}

#current-question {
    color: var(--primary);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

/*Button Styling */
.btn {
    background: var(--secondary);
    color: var(--black);
    padding: 10px;
    border: none;
    box-shadow: 0 10px var(--quintary);
    margin-top: 10px;
    font-family: 'Architects Daughter', cursive;
}

.btn:hover {
    background: var(--quintary);
    box-shadow: 0 10px var(--primary);
}

.btn:active {
    border: none;
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, 95px);
    grid-gap: 10px;
    margin: 20px 0;
}

.begin-quiz {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    font-size: 30px;
}

.answerbtn {
    width: 50%;
    text-align: left;
    font-size: 30px;
}

/* correct/wrong styling */

.right-wrong {
    font-size: 30px;
    text-align: center;
    margin: 0 100px;
}

.correct-answer {
    color: var(--secondary);
    border-top: 10px solid var(--secondary);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

.wrong-answer {
    color: var(--quartary);
    border-top: 10px solid var(--quartary);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

/* List for High Scores */

ol {
    list-style-type: number;
}

li:nth-child(odd) {
    background-color: var(--black);
}


li {
    font-size: 40px;
}
